/* Variables */

:root {
  --ls-font-family: Segoe UI, Roboto, sans-serif;
  --ls-page-text-size: 14px;
  --priority-1-color: red;
  --ls-block-bullet-color: #aaa;
}

.white-theme,
html[data-theme='light'] {
  --ls-primary-text-color: rgb(32, 43, 51);
  --ls-block-bullet-color: var(--ls-primary-text-color);
  --ls-tag-text-color: #a7b6c2;
  --ls-link-text-color: #337ab7;
}

*,
::after,
::before {
  --ls-tag-text-opacity: 1;
}

/* Common */

:root {
  font-family: Segoe UI, Roboto, sans-serif;
  font-size: var(--ls-page-text-size);
  font-weight: 400;
  letter-spacing: 0.002em;
}

h1.title {
  font-weight: 500;
  text-align: center;
}

a.tag {
  font-size: var(--ls-page-text-size);
}

a.tag:hover {
  text-decoration: underline;
  color: var(--ls-tag-text-color);
}

.inline,
.uniline-block {
  vertical-align: middle;
}

.editor-inner .multiline-block:is(.h1, .h2, .h3, .h4, .h5, .h6)::first-line,
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
}

.custom-query-title h4 {
  font-weight: bold;
}

.tippy-tooltip,
.tippy-wrapper {
  background: var(--ls-block-properties-background-color, #f0f8ff);
  border: 1px solid var(--color-level-3, #f0f8ff);
  text-shadow: none;
}

.external-link:hover {
  cursor: alias;
}

.block-ref {
  opacity: 0.7;
}

.time-spent {
  margin-right: 0.5em;
}

.block-properties {
  font-size: 85%;
}

.ls-page-title.title {
  line-height: 1.3em;
  font-weight: 450;
  word-break: break-word;
  min-width: 100px;
  width: 100%;
  cursor: text;
  outline: 1px solid transparent;
  text-align: center;
}

.table-auto .whitespace-nowrap {
  white-space: normal;
}

/* Header */

.cp__header a.button {
  opacity: 1;
  margin: 0;
}

/* Journal */

#journals > div:last-child a {
  font-weight: 500;
}

/* Checkbox */

html[data-theme='light'] .form-checkbox,
.form-radio {
  background-color: var(--ls-primary-background-color);
  margin-left: 1px;
}

.white-theme,
html[data-theme='light'] {
  --ls-page-checkbox-color: transparent;
  --ls-page-checkbox-border-color: black;
  --ls-page-checkbox-border-color-hover: #a7b6c2;
}

.form-checkbox,
.form-radio {
  border-radius: 2px;
  border: 1px solid var(--ls-page-checkbox-border-color);
  margin-top: 0 !important;
  margin-right: 0.1em !important;
}

.form-checkbox:checked,
.form-radio:checked {
  margin-right: 0.3em !important;
}

.form-checkbox:checked:hover,
.form-radio:checked:hover {
  border: 1px solid var(--ls-page-checkbox-border-color);
}

.form-checkbox:checked {
  background: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

/* Bullet */

.bullet-container .bullet {
  width: 4px;
  height: 4px;
  background-color: var(--ls-block-bullet-color);
}

/* Countries */

.inline [data-ref='uk'],
.inline [data-ref='ua'],
.inline [data-ref='by'],
.inline [data-ref='ru'],
.inline [data-ref='en'],
.inline [data-ref='us'],
.inline [data-ref='ca'],
.inline [data-ref='es'],
.inline [data-ref='fr'],
.inline [data-ref='it'],
.inline [data-ref='de'],
.inline [data-ref='cn'],
.inline [data-ref='in'],
.inline [data-ref='ja'] {
  width: 1.5em;
  height: 1em;
  line-height: 1.5em;
  background-color: var(--ls-primary-background-color, white);
  overflow: hidden;
  visibility: hidden;
}

.inline [data-ref='en']::after {
  content: '🇬🇧';
}

.inline [data-ref='ua']::after {
  content: '🇺🇦';
}
.inline [data-ref='by']::after {
  content: '🇧🇾';
}
.inline [data-ref='ru']::after {
  content: '🇷🇺';
}

.inline [data-ref='uk']::after {
  content: '🇬🇧';
}
.inline [data-ref='us']::after {
  content: '🇺🇸';
}
.inline [data-ref='ca']::after {
  content: '🇨🇦';
}
.inline [data-ref='es']::after {
  content: '🇪🇸';
}
.inline [data-ref='fr']::after {
  content: '🇫🇷';
}
.inline [data-ref='it']::after {
  content: '🇮🇹';
}
.inline [data-ref='de']::after {
  content: '🇩🇪';
}
.inline [data-ref='cn']::after {
  content: '🇨🇳';
}
.inline [data-ref='in']::after {
  content: '🇮🇳';
}
.inline [data-ref='ja']::after {
  content: '🇯🇵';
}

/* Tags */

[data-ref] {
  position: relative;
}

.inline [data-ref]::after {
  vertical-align: top;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  height: 1.5em;
  line-height: 1.5em;
  visibility: visible;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.inline [data-ref]::after:hover {
  text-decoration: none;
}

/* Special tags */

:root {
  --ls-special-tag-hover-color: #888787;
  --ls-entiry-tag-color: green;
  --ls-log-tag-color: #2196f3;
  --ls-action-tag-color: red;
  --ls-space-tag-color: #ffc107;
  --ls-space-person-color: burlywood;
  --ls-special-tag-highlighted-color: white;
  --ls-special-tag-highlighted-hover: white;
}

.inline [data-ref^='_'],
.inline [data-ref^='-'],
.inline [data-ref^='--'],
.inline [data-ref^="'"] {
  color: var(--ls-secondary-text-color);
  padding: 2px;
  line-height: 100%;
  border-radius: 0;
  font-weight: bold;
  font-size: 0.875rem;
  border-style: solid;
  border-width: 1px 2px;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
}

.inline [data-ref^='_']:before,
.inline [data-ref^='-']:before,
.inline [data-ref^='--']:before,
.inline [data-ref^="'"]:before {
  content: '';
  display: inline-block;
  border-left-width: 3px;
}

.inline [data-ref^='_']:hover,
.inline [data-ref^='-']:hover,
.inline [data-ref^='--']:hover,
.inline [data-ref^="'"]:hover {
  color: var(--ls-special-tag-hover-color);
  border-color: var(--ls-special-tag-hover-color);
  text-decoration: none;
}

.inline.with-bg-color [data-ref^='_'],
.inline.with-bg-color [data-ref^='-'],
.inline.with-bg-color [data-ref^='--'],
.inline.with-bg-color [data-ref^="'"] {
  opacity: 0.7;
  border-width: 0;
  color: var(--ls-special-tag-highlighted-color);
  padding: 0.2em 0.4em;
  opacity: 0.7;
}

.inline.with-bg-color [data-ref^='_']:hover,
.inline.with-bg-color [data-ref^='-']:hover,
.inline.with-bg-color [data-ref^='--']:hover,
.inline.with-bg-color [data-ref^="'"]:hover {
  color: var(--ls-special-tag-highlighted-hover);
  border-color: var(--ls-special-tag-highlighted-hover);
  opacity: 1;
}

.inline [data-ref^="'"] {
  border-color: var(--ls-entiry-tag-color);
}
.inline [data-ref^='_'] {
  border-color: var(--ls-space-tag-color);
}
.inline [data-ref^='-'] {
  border-color: var(--ls-action-tag-color);
}
.inline [data-ref^='--'] {
  border-color: var(--ls-log-tag-color);
}

.inline.with-bg-color [data-ref^="'"] {
  background-color: var(--ls-entiry-tag-color);
}
.inline.with-bg-color [data-ref^='_'] {
  background-color: var(--ls-space-tag-color);
}
.inline.with-bg-color [data-ref^='-'] {
  background-color: var(--ls-action-tag-color);
}
.inline.with-bg-color [data-ref^='--'] {
  background-color: var(--ls-log-tag-color);
}

.inline [data-ref^='@'] {
  color: var(--ls-space-person-color);
}

.inline span[data-ref^='@'] .bracket {
  display: none;
}

/* Sidebar */

:root {
  --ls-sidebar-text-color: #a4b5b6;
  --ls-sidebar-link-text-color: rgb(138, 187, 187);
  --ls-sidebar-quaternary-background-color: #094b5a;
}

.white-theme,
html[data-theme='light'] {
  --ls-content-link-text-color: rgb(62 131 131);
}

[aria-label='Sidebar'] {
  padding: 0;
}

.left-sidebar-inner a.item {
  margin: 0 4px;
  box-sizing: border-box;
}

.left-sidebar-inner .nav-content-item > .header:hover,
.left-sidebar-inner .nav-content-item > .bd ul a:hover,
.left-sidebar-inner a.item:hover {
  background-color: var(--ls-sidebar-quaternary-background-color);
}

.left-sidebar-inner a.item,
.left-sidebar-inner .nav-content-item > .header a {
  color: var(--ls-sidebar-link-text-color, #045591);
}

.left-sidebar-inner .nav-content-item > .bd ul a {
  color: var(--ls-sidebar-text-color);
}

html[data-theme='light'] .cp__right-sidebar-topbar i,
html[data-theme='light'] .cp__header i {
  color: var(--ls-content-link-text-color, #045591);
}

.cp__sidebar-left-layout.is-open {
  background: radial-gradient(circle, #333, black);
}

.left-sidebar-inner .new-page,
.left-sidebar-inner {
  background: none;
}

.cp__right-sidebar .sidebar-item .close:hover {
  transform: scale(0.8);
}

.cp__right-sidebar .sidebar-item .close {
  transform: scale(0.8);
}

/* Highlighted blocks */

.inline.with-bg-color {
  display: inline-block;
}

.inline.with-bg-color .page-ref {
  color: var(--ls-block-highlight-color);
}

.inline.with-bg-color .bracket {
  color: var(--ls-secondary-border-color);
}

.inline.with-bg-color .page-reference:hover {
  background-color: cadetblue;
}

/* Task flow */

a.LATER,
a.NOW,
a.TODO,
a.DOING,
.task-status.waiting {
  display: inline-block;
  border-radius: 2px;
  letter-spacing: initial;
  vertical-align: top;
  font-size: 65%;
  margin-left: 2px;
  border: 1px var(--ph-highlight-color-blue) solid;
  background-color: white;
  color: var(--ph-highlight-color-blue);
  padding-bottom: 0;
  margin-right: 0.4em;
  transform: scale(0.8);
}

a.LATER:hover,
a.NOW:hover,
a.TODO:hover,
a.DOING:hover,
.task-status.waiting:hover {
  color: var(--ls-head-text-color);
}

.task-status.waiting {
  cursor: default;
}

a.DOING,
a.NOW {
  border: 1px var(--priority-1-color) solid;
  color: var(--priority-1-color);
}

.task-status.waiting {
  border: 1px var(--ph-highlight-color-purple) solid;
  color: var(--ph-highlight-color-purple);
}

.timestamp::after,
[data-refs-self*='"done"'] .block-content-wrapper::after,
[data-refs-self*='"canceled"'] .block-content-wrapper::after,
[data-refs-self*='"later"'] .block-content-wrapper::after,
[data-refs-self*='"todo"'] .block-content-wrapper::after,
[data-refs-self*='"now"'] .block-content-wrapper::after,
[data-refs-self*='"doing"'] .block-content-wrapper::after,
[data-refs-self*='"waiting"'] .block-content-wrapper::after {
  position: absolute;
  font-size: 80%;
  right: 0;
  margin-top: 3px;
}

[data-refs-self*='"waiting"'] .block-content-wrapper::after {
  content: '⏳';
}

[data-refs-self*='"done"'] .block-content-wrapper::after {
  content: '✅';
}

[data-refs-self*='"canceled"'] .block-content-wrapper::after {
  content: '🚫';
}

[data-refs-self*='"todo"'] .block-content-wrapper::after,
[data-refs-self*='"later"'] .block-content-wrapper::after {
  content: '⬜️';
}

.timestamp::after {
  content: '📆';
}

[data-refs-self*='"now"'] .block-content-wrapper::after,
[data-refs-self*='"doing"'] .block-content-wrapper::after {
  content: '🕝';
}

[data-refs-self*='"canceled"'] .block-content-wrapper::before {
  content: '🚫';
  margin-right: 0.5em;
  font-size: 70%;
  vertical-align: top;
  text-decoration: none;
}

[data-refs-self*='"a"'] .bullet-container .bullet {
  background-color: var(--priority-1-color);
}

[data-refs-self*='"b"'] .bullet-container .bullet {
  background-color: var(--ph-highlight-color-yellow);
}

[data-refs-self*='"c"'] .bullet-container .bullet {
  background-color: var(--ph-highlight-color-green);
}

[href='#/page/A'],
[href='#/page/B'],
[href='#/page/C'] {
  width: 1.5em;
  height: 1.3em;
  overflow: hidden;
  background-color: white;
  line-height: 1.5em;
  visibility: hidden;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -2px;
}

[href='#/page/A']::before,
[href='#/page/B']::before,
[href='#/page/C']::before {
  visibility: visible;
}

[href='#/page/A']::before {
  content: '🔴';
}

[href='#/page/B']::before {
  content: '🟡';
}

[href='#/page/C']::before {
  content: '🟢';
}

/* Code */

.light-theme,
.white-theme,
html[data-theme='light'] {
  --ls-page-inline-code-color: #c7254e;
  --ls-page-inline-code-bg-color: #f9f2f4;
}

.dark-theme,
html[data-theme='dark'] {
  --ls-page-inline-code-color: #c7254e;
}

:not(pre) > code {
  padding: 2px 4px;
  font-size: 80%;
  border-radius: 4px;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer {
  font-size: 12px;
}

.extensions__code .code-editor {
  margin-top: 0;
}

.cm-s-solarized.cm-s-dark {
  border: 1px solid #124656;
}
